.DS_Store

target/

.idea/
*.iml
out/

.gradle
build/

.settings/
.project
.classpath

basic/src/*.class
basic/src/**/*.class
basic/src/*.jar
basic/target/
basic/build/
basic/gradle/
basic/gradlew*

temp/
/commontasks/scripts/test.*

# Save some IDE config explicitly
!java*-whats-new/*.iml
